<form >
  <span [formGroup]="CSVUploadForm" class="btn fileUpload">
    <span class="custom-para">Choose File</span>
    <input 
        type="file" 
        id="uploadCSV" 
        name="uploadCSV" 
        formControlName="uploadCSV" 
        class="upload form-control"
        (change)="fileSelect($event)" 
        (click)="resetSelection()" tabindex="0" MenuLink/>
  </span>
</form>

<ng-container *ngIf='rows && rows.length' >
    <div class="title-seperater" style="margin: 70px;"></div>
    <div>
        <b>PREVIEW</b>
        <h5 *ngIf="totalRecords >= 11">Displaying first 10 records from your file.</h5>
        <h5 *ngIf="totalRecords < 10" >Displaying {{ totalRecords - 1 }} records from your file</h5>
        
        <div class="table-responsive">
            <table class="ae-table table table-bordered table-striped tenant-details top-margin-lg" *ngIf='rows && rows.length'>
                <thead>
                    <tr class="bulkupload-table-header">
                      
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email Id</th>
                            <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let record of records'>
                            <td>{{record.firstName}}</td>
                            <td>{{record.lastName}}</td>
                            <td>{{record.email}}</td>
                            <td>{{record.username}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 
</ng-container>
<div style="margin:15px; max-width:200px">
    <ng-multiselect-dropdown 
      [placeholder]="'custom placeholder'"
      [data]="dropdownList"
      [(ngModel)]="selectedItems"
      [settings]="dropdownSettings"
      (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)"
    >
    </ng-multiselect-dropdown>
</div>